@import "tailwindcss";

:root {
  --bg-primary: #1f1f1f;
  --bg-primary-inverted: #fff;
  --bg-secondary: #303030;
  --bg-third: #1a1a1a;
  --bg-component: #121212;
  --bg-button: #0d0d0d;
}

body {
  background-color: var(--bg-primary);
  color: var(--bg-primary-inverted);
  font-family: var(--font-ubuntu), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
