@import "tailwindcss";

:root {
  --background: oklch(27.4% 0.006 286.033);
  --foreground: rgb(255, 255, 255);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu), sans-serif;
}
