@import "tailwindcss";

:root {
  --bg-primary: #1f1f1f;
  --bg-primary-inverted: #fff;
  --bg-secondary: #303030;
  --bg-comp: #121212;
}

body {
  background-color: var(--bg-primary);
  color: var(--bg-primary-inverted);
  font-family: var(--font-ubuntu), sans-serif;
}
