@import "tailwindcss";

:root {
  --background: rgb(241 245 249); /* slate-100 */
  --foreground: rgb(30 41 59); /* slate-800 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu), sans-serif;
}
